body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* heavy rain background gradient */
.heavy-rain, .App {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #FFF 100%);}
/* .morpheus-den, .App {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
} */
body{
  
}
.App {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}